body {
    font-family: 'Myriad Pro Regular';
    font-size: 14px;
}

.bold , strong {
    font-family: 'Myriad Pro Bold';
}
h1.title-page {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 6px 0;
    height: 27px;
}
ul,ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.list-hot-contact > li {
    display: inline-block;
    margin: 0 7px;
    color: #ffffff;
}

ul.list-hot-contact {
    overflow: hidden;
    padding: 4px 0;
    height: 27px;
}
header {
    background: #2a3354;
}
header form#searchform label {
    display: none;
}
header form#searchform input {
    border: none;
    background: #232737;
    color: #fff;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px 11px;
}
header form#searchform {
    position: relative;
}
header form#searchform button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    outline: none;
    height: 27px;
    color: #fff;
}
header form#searchform input::-webkit-input-placeholder {
    color: #ffffff;
}
header form#searchform input::-moz-placeholder {
    color: #ffffff;
}
header form#searchform input:-ms-input-placeholder {
    color: #ffffff;
}
header form#searchform input:-moz-placeholder {
    color: #ffffff;
}
nav#mainNav {
    background: #ffffff;
    margin-bottom: 0;
    border: none;
}
.navbar-brand {
    height: auto;
    padding: 10px;
}
@media (min-width: 768px) {
    div#bs-example-navbar-collapse-1 {
        float: left;
        margin-left: 76px;
    }
    div#bs-example-navbar-collapse-1 > ul.nav > li {
        padding: 35px 0;
        font-size: 18px;
        text-transform: uppercase;
    }
    div#bs-example-navbar-collapse-1 > ul.nav > li > a{
        color: #2a3354;
        text-decoration: none;
    }
    div#bs-example-navbar-collapse-1 > ul.nav > li.current-menu-item > a {
        color: #e42e3c;
        font-family: 'Myriad Pro Bold';
    }
}
.uppercase {
    text-transform: uppercase;
}
h2.style_block_title.text-center.uppercase {
    color: #2a3354;
    position: relative;
    padding-bottom: 20px;
    font-size: 35px;
    margin-top: 40px;
}

h2.style_block_title.text-center.uppercase:before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../images/line.png') center no-repeat;
    z-index: 1;
}
p.introduction_text.text-center {
    width: 74%;
    margin: 0 auto;
    color: #888;
    line-height: 23px;
}

.list-feature {
    padding: 15px 0;
    padding-bottom : 20px;`
}
p.big-feature-description {
    margin: 10px 0;
    font-size: 16px;
    text-align: justify;
    color: #444;
    line-height: 22px;
}

a.readmore-full-width {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 7px;
    background: #e42e3c;
    color: #fff;
    letter-spacing: 2px;
}
.feature-item img {
    width: 100%;
}

.feature-item-title.bold.uppercase {
    margin: 6px 0;
    font-size: 15px;
}

p.feature-item-description a {
    color: #e42e3c;
}
h2.style_block_title.text-center.uppercase.white {
    color: #fff;
}
h2.style_block_title.text-center.uppercase.white:before{
    background: url('../images/line-2.png') center no-repeat;
}
.list-duan {
    background: url('../images/bg.png') #e42e3c center no-repeat;
    background-size: cover;
}
.taisao-chon {
    background: url('../images/bg.png') #2b3355 center no-repeat;
    background-size: cover;
}
p.introduction_text.white.text-center {
    color: #fff;
}
.list-khu-vuc ul li {
    display: inline-block;
}

.list-khu-vuc ul li button {
    display: block;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
}
.list-khu-vuc ul li button:hover {
    background: #c12131;
}
.list-khu-vuc ul li.active button {
    background: #c12131;
}
.list-khu-vuc {
    margin: 12px 0;
}
.list-item-projects .grid .element-item {
    float: left;
    width: 33.333333333333%;
    position: relative;
}

.list-item-projects .grid .element-item img {
    width: 100%;
}

.list-item-projects .grid .element-item .view-action {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 90px 0;
    text-align: center;
    background: rgba(68, 75, 103, 0.78);
    cursor: pointer;
}
.list-item-projects .grid .element-item:hover .view-action {
    opacity: 1;
}
.list-item-projects .grid .element-item .view-action a {
    padding: 9px 12px;
    border: 1px #fff solid;
    color: #fff;
    background: none;
    outline: none;
}
.list-item-projects .grid .element-item .view-action h3 {
    margin: 26px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}
.list-item-projects {
    padding: 15px 0;
}
a.view-more-project {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 16px;
    background: #fff;
    color: #c82840;
    margin: 10px 0;
}

.readmore.text-center {
    padding: 20px 0 30px 0;
}
.award-text img {
    width: 100%;
    height: auto;
    margin-top:10px;
}
h2.title-style2 {
    margin-top: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: #e42e3c;
    padding-bottom: 11px;
    position: relative;
}

h2.title-style2:before {
    width: 80px;
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #e42e3c;
}
.award-text strong {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    color: #2a3354;
}

.award-text p {
    margin-bottom: 0;
    line-height: 23px;
    font-size: 16px;
    color: #444;
    text-align: justify;
    margin-bottom: 30px;
}
.chungnhan-giaithuong {
    padding: 40px 0;
}
.left-content.list-lydo ul li .text {
    float: left;
    width: calc(100% - 60px);
    padding-right: 15px;
}

.left-content.list-lydo ul li .icon {
    float: left;
    width: 60px;
}

.left-content.list-lydo ul li {
    overflow: hidden;
    clear: both;
}

.list-lydo ul li .icon img {
    width: 60px;
    height: auto;
}

.list-lydo ul li .text span.big {
    display: block;
    font-size: 22px;
    color: #fff;
}

.left-content.list-lydo ul li .text span.big {
    text-align: right;
}

.list-lydo ul li .text span.small {
    color: #fff;
    font-size: 15px;
}

.left-content.list-lydo ul li .text span.small {
    text-align: right;
    display: block;
}

.list-lydo ul li {
    margin: 42px 0;
    overflow: hidden;
}

.right-content.list-lydo ul li .text {
    float: right;
    width: calc(100% - 60px);
    padding-left: 15px;
}

.right-content.list-lydo ul li .icon {
    float: left;
    width: 60px;
}

.background-center {
    padding: 62px 0;
}

.background-center img {
}

.newsletter_bar {
    background: #28304e;
    padding: 30px 0;
}
.download_ho_so_nang_luc label {
    display: block;
    margin-bottom: 0;
    font-size: 20px;
    color: #faad30;
    letter-spacing: 1px;
    font-weight: 400;
}

.download_ho_so_nang_luc p.description {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
}

.download_ho_so_nang_luc {
    padding-left: 90px;
    background:  url('../images/download_icon.png') no-repeat   left  center;
}
div#ninja_forms_form_7_all_fields_wrap .ninja-forms-required-items {
    display: none;
}

div#ninja_forms_form_7_all_fields_wrap .label-above.text-wrap label {
    margin-bottom: 0;
    font-size: 20px;
    color: #faad30;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
}

div#ninja_forms_form_7_all_fields_wrap .label-above.text-wrap label span {
    display: none;
}

div#ninja_forms_form_7_all_fields_wrap .label-above.text-wrap {
    position: relative;
    margin-bottom: 0;
}

input#ninja_forms_field_6.newsletter {
    background: #232737;
    border: none;
    padding: 7px;
    margin-top: 5px;
}
div#ninja_forms_field_7_div_wrap {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    bottom: 0;
    margin-bottom: 0;
}

div#ninja_forms_field_7_div_wrap input[type="submit"] {
    border: none;
    height: 34px;
    padding: 0 32px;
    color: #fff;
    display: block;
    text-indent: -200px;
    overflow: hidden;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAz1BMVEUAAADs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PHs8PG8evtGAAAARHRSTlMAAQIDBAcICQsNDhIUFRcYHB0fISMlMDM0Njc4PkNMUVlbXV5ibHd5fIKDhZSanaKosrm6vsDBx8zZ2uLk5uvv9/n7/Y7+mXoAAAC0SURBVBgZZcGHQoJQAIbRXy1oWtFQK9QW7VLCcpGS3/s/U1zAS+k5WrPzPtaK2h2E+u/yGwj019EXTMFXyX0B7mPwtFS9+YF5KwQcFZoTIN5/AhLl6h+khm6bVChj8xmjVzvGCCRVOnOMx8rWDMOXTkdkrlQdkvGkAcbiXHol50g6eYPZoXRLLlHG7W5LZxRCWbsJhUBWnyVfVgSfFxEpT1ZE7Eh7DwmOrGhxIGPDU+m6odIvrVMszlI9NrQAAAAASUVORK5CYII=') #e42e3c no-repeat center;
}
.dangkinhantin {
    padding-left: 90px;
    background:  url('../images/email_icon.png') no-repeat   left  center;
}
ul#list-khachhang li {
    display: block;
    padding: 12px;
    width: 16.6666667%;
    float: left;
}

ul#list-khachhang {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
}

ul#list-khachhang li img {
    height: 41px;
    width: auto;
    max-width: 100%;
}
h3.title-style-3 {
    color: #28304e;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
    position: relative;
    font-size: 23px;
}
h3.title-style-3:before {
    width: 67px;
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #28304e;
}
.clientImage {
    width: 130px;
    border-radius: 50%;
}
.rightComment {
    width: calc(100% - 130px);
    padding: 9px 0;
    height: 130px;
    padding-left: 16px;
}
div#list-comment .item-comment {
    overflow: hidden;
}
.clientImage img {
    width: 100%;
}
.comment_customer {
    margin-top: 11px;
    text-align: justify;
}
.comment_customer:before {
    content: '"';
    font-family: 'Myriad Pro Condensed Italic';
}

.comment_customer:after {
    content: '"';
    font-family: 'Myriad Pro Condensed Italic';
}
div#list-comment {
    margin-top: 15px;
}
.item-donvithanhvien.lslide {
    text-align: center;
}
.item-donvithanhvien.lslide img {
    height: 100px;
    width: auto;
    max-width: 100%;
}
.left-arrow.arrow {
    width: 15px;
    height: 32px;
    text-align: center;
    padding: 6px 0px;
    font-size: 15px;
    color: #000;
}


.left-arrow.arrow {
    background: #ccc;
}
.right-arrow.arrow {
    width: 15px;
    height: 32px;
    text-align: center;
    padding: 6px 0px;
    font-size: 15px;
    color: #000;
}


.right-arrow.arrow {
    background: #ccc;
}

.lSAction>a {
    background: none;
}

a.lSNext {
    text-align: right;
}

.right-arrow.arrow {
    float: right;
}
div#list-donvithanhvien {
    margin: 20px 0;
}
.nhanxet {
    padding: 25px 0;
}
.contact-footer {
    background: #232737;
}
.google-maps {
    position: relative;
    padding-bottom: 300px; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px !important;
}
h3.company_name {
    font-size: 17px;
    color: #fff;
}
.address_item label {
    float: left;
    width: 60px;
    display: block;
    margin-bottom: 0;
    font-weight: normal;
}
.address_item span {
    display: block;
    width: calc(100% - 62px);
    float: left;
}
.address_item {
    overflow: hidden;
}

.address_item {
    font-size: 15px;
    color: #fff;
    margin-bottom: 5px;
}

.address_item label:after {
    content: ":";
}

form#ninja_forms_form_1 .ninja-forms-required-items {
    display: none;
}

input#ninja_forms_field_1 {
    background: #282f4b;
    border: none;
    padding: 7px;
    color: #697191;
    border: 1px #3d4259 solid;
}

input#ninja_forms_field_8 {
    background: #282f4b;
    border: none;
    padding: 7px;
    color: #697191;
    border: 1px #3d4259 solid;
}

#ninja_forms_form_1 .field-wrap textarea#ninja_forms_field_3 {
    background: #282f4b!important;
    border: none;
    height: 151px;
    padding: 7px;
    color: #697191;
    border: 1px #3d4259 solid;
}

input#ninja_forms_field_11 {
    background: #282f4b;
    border: none;
    padding: 7px;
    color: #697191;
    border: 1px #3d4259 solid;
}
input#ninja_forms_field_5 {
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    background: #e42e3c;
    color: #fff;
    padding: 8px;
}
div#ninja_forms_field_1_div_wrap {
    margin-bottom: 10px;
    margin-top: 34px;
}

div#ninja_forms_field_8_div_wrap {
    margin-bottom: 10px;
}

div#ninja_forms_field_11_div_wrap {
    margin-bottom: 10px;
}
.footerbar {
    background: #191b25;
}
.footerbar {
    color: #fff;
    padding: 10px 0;
}

ul.list_social_icon {
    text-align: right;
}

ul.list_social_icon > li {
    display: inline-block;
}
ul.list_social_icon > li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    color: #fff;
    margin: 0 4px;
}

ul.list_social_icon > li a.facebook {
    background: #3a5ba2;
}

ul.list_social_icon > li a.googleplus {
    background: #e42e3c;
}


a.tw {
    background: #36a6e1;
}


a.youtube {
    background: #e42e3c;
}

nav#mainNav.nothomepage {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
div#breadcrumbs {
    background: #f5f5f5;
    padding: 12px 0;
}

div#breadcrumbs a {
    color: #888;
    text-decoration: none;
}

div#breadcrumbs span.breadcrumb_last {
    color: #e42e3c;
}

div#breadcrumbs span {
    color: #888;
}
h2.widget-title {
    background: #e53947;
    text-transform: uppercase;
}

h2.widget-title > a {
    color: #fff;
    font-size: 16px;
    display: block;
    font-family: "Myriad Pro Bold";
}
aside#category-posts-2 {}

h2.widget-title {
    background: #e53947;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 10px;
    font-family: "Myriad Pro Bold";
}

h2.widget-title > a {
    color: #fff;
    font-size: 16px;
    display: block;
    font-family: "Myriad Pro Bold";
}

ul.category-posts-internal > li {
    margin: 0!important;
    padding: 7px 10px!important;
    text-transform: uppercase;
    font-size: 16px;
}

ul.category-posts-internal > li > a {
    text-decoration: none;
    color: #666;
}

ul.category-posts-internal {
    background: #f5f5f5;
}
#category-posts-3-internal .cat-post-item {
    border-bottom: none;
}

ul#category-posts-3-internal {
    margin-bottom: 20px;
}
#category-posts-3-internal .cat-post-item {
    border-bottom: none!important;
}
ul.category-posts-internal > li.cat-post-current >a {
    font-weight: normal!important;
}

ul.category-posts-internal > li.cat-post-current {
}

.article_thumb a {
    display: block;
}

.article_thumb a img {
    width: 100%;
}
h2.entry-title.bold.uppercase {
    font-size: 20px;
    margin-top: 0;
}

h2.entry-title.bold.uppercase a {
    text-decoration: none;
    color: #2a3354;
}
.entry-date span {
    color: #888888;
    display: block;
    margin-bottom: 11px;
}

.entry-description {
    text-align: justify;
    font-size: 15px;
}
article {
    margin: 19px 0;
}
.pagging h2 {
    display: none;
}
.pagging .nav-links .page-numbers {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    border: 1px #ccc solid;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    color: #444;
}

.pagging .nav-links .page-numbers.current {
    background: #e53947;
    color: #fff;
    border: 1px #e81e2f solid;
}
div#share_post label {
    font-weight: normal;
    text-transform: uppercase;
    padding: 7px 0;
    margin-bottom: 0;
    margin-right: 17px;
}

div#share_post {
    overflow: hidden;
}

.jssocials-shares {
    margin: 0;
}

.jssocials-share {
    margin: 0;
    margin-right: 10px;
}

div#share_post {
    padding: 13px 0;
    border-top: 1px #e6e6e6 solid;
}
h1.title-style2 {
    margin-top: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: #2a3354;
    padding-bottom: 11px;
    position: relative;
}
h1.title-style2:before {
    width: 80px;
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #2a3354;
}
h1.entry-title.title-style2.bold.uppercase {
    margin-top: 13px;
}
.list-khu-vuc.list-du-an-page-detail ul li button {
    color: #c12131;
}

.list-khu-vuc.list-du-an-page-detail ul li.active button {
    color: #fff;
}
.list-khu-vuc.list-du-an-page-detail ul li button:hover {
    color: #fff;
}
a.gallery-item {
    display: block;
    float: left;
    width: 33.333333333%;
    padding: 1px;
    position: relative;
}

a.gallery-item img {
    width: 100%;
}

a.gallery-item .zoomp-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
    background: rgba(42, 51, 84, 0.68);
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

a.gallery-item:hover .zoomp-images {
    opacity: 1;
    cursor: pointer;
}

@media only screen and (max-width : 768px) {
    h1.title-page.bold {
        text-align: center;
    }
    header .container {
        padding: 0;
    }
    .navbar-toggle {
        margin-top: 34px;
    }
    .big-feature {
        margin-bottom: 15px;
    }
    .list-item-projects .grid .element-item {
        width:  50%;
    }
    .list-item-projects .grid .element-item .view-action {
            padding: 31px 0;
    }
    .list-item-projects .grid .element-item .view-action {
    padding: 31px 0;
        }

        .left-content.list-lydo ul li .text {
            float: right;
            padding-right: 0;
            padding-left: 15px;
        }

        .left-content.list-lydo ul li .icon {
             float: left;
        }

        .left-content.list-lydo ul li .text span {
            text-align: left!important;
        }

        .background-center {
            display: none;
        }

        ul.list_social_icon {
            text-align: center;
        }
}
.gioithieu {
    padding-bottom: 30px;
}
.download_ho_so_nang_luc label a {
    color: #faad30;
    text-decoration: none;
}
.marquee-logo {
    width: 80%;
    margin: 10px auto;
}
.logo-item {
    text-align: center;
}
.logo-item img {
    width: 100%;
}
.nhanxet ul.lSPager {
    width: 130px;
}
.award-text {
    font-size: 15px;
    line-height: 22px;
}

.award-text img {
    margin-top: 35px;
}
ul.category-posts-internal > li.cat-post-current > a {
    color: #e53947;
    font-family: "Myriad Pro Bold";
}
ul.category-posts-internal li:hover {
    background: #eeeeee;
}